<!DOCTYPE html>
	<html>
	    <head>
	        <title>Django Girls blog</title>
	        <style type="text/css">
	        	body{
	        		margin:auto;
	        		font-family: arial;
	        	}
	        	.dgb, #date{
	        		text-align: center;
	        	}
	        	#reflection{
	        		width:400px;
	        		margin:auto;
	        	}
	        	h1{
	        		color:darkblue;
	        	}
	        	h2{
	        		color:orange;
	        	}
	        </style>
	    </head>
	    <body>
	        <div class="dgb">
	            <h1><a href="">Django Girls Blog</a></h1>
	        </div>

	        <div id="date">
	            <p>published: 05.07.2017, 03:33</p>
	        </div>
	        <div id="reflection">
	        	<h1>Reflection</h1>
	        	<h2>What do I wanna add?</h2>
	        	<p>Idk... I can add more bio about me or other fun stuffs like css and any interaction with the user to my blog</p>
	        	<h2>Dynamic features?</h2>
	        	<p>I want to learn how to make different types of slideshows and how the javascript changes each items.</p>
	        	<h2>Similar sites</h2>
	        	<p>I can make a similar web page as a online market or a educational learning website.</p>
	        </div>
	    </body>
	</html>